# Debug files
*.png

# Virtual environments
venvs/*

# Dataset
*.csv
*.npz
*.hdf5

# Weights & Biases
wandb

# Python cache
__pycache__

# Model weights
*.tar

# Lightning logs
lightning_logs/*

# ONNX model
*.onnx
